[include fluidd.cfg]
[exclude_object]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include Klipper_Backup.cfg]
#[include Input_Shaper.cfg]

#===============================================================================
#                          # Stepper & Printer Config #     
#===============================================================================

[stepper_x]
step_pin: !PA14
dir_pin: PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC4    #tmc2209_stepper_x:virtual_endstop  # OG Pin: ^PC4
position_endstop: -2  #-7
position_min: -2
position_max: 225
homing_speed: 65
homing_retract_dist: 5
#use_sensorless_homing: true

[stepper_y]
step_pin: PC8
dir_pin: PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0    #tmc2209_stepper_y:virtual_endstop  # OG Pin: ^PB0
position_endstop: 207     #    -12
position_min: 0       #-12
position_max: 207
homing_speed: 65
homing_retract_dist: 5
#use_sensorless_homing: true


[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 8
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop # OG Pin: ^PC6
#position_endstop: 0.0
position_max: 217
position_min: -5
homing_speed: 15

[stepper_z1]
step_pin: PD5
dir_pin: PD6
enable_pin: !PB3
microsteps: 8
rotation_distance: 8

[stepper_z2]   # THIS IS THE EXTRUDER 1 PORT ON THE BOARD. COMMENT OUT THE EXTRUDER SECTION TO USE.
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
microsteps: 8
rotation_distance: 8

[extruder]
step_pin: PICO:gpio14
dir_pin: !PICO:gpio13
enable_pin: !PICO:gpio15
microsteps: 16
rotation_distance: 12.301 #12.377
gear_ratio: 7:1
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB11
sensor_type: Generic 3950     # EPCOS 100K B57560G104F
sensor_pin: PA4
#control = pid
#pid_kp = 16.143
#pid_ki = 0.485
#pid_kd = 134.392
min_temp: 0
max_temp: 280  # So 270 will not throw an error
min_extrude_temp: 170
max_extrude_only_distance: 300
max_extrude_cross_section: 5

[printer]
kinematics: corexy
max_velocity: 400 #default 500
max_accel: 15000 #default 5500
square_corner_velocity: 5
max_z_velocity: 15
max_z_accel: 60

#===============================================================================
#                           # tmc2209 Configuration #      
#===============================================================================

[tmc2209 stepper_x]
uart_pin: PB8
#tx_pin: PC10
#uart_address: 0
run_current: 1.0 # 1.5
#sense_resistor: 0.110
# stealthchop_threshold: 999999
#home_current: 0.7
#diag_pin: PC4
#driver_SGTHRS: 100     # 255 is most sensitive, 0 is least sensitive.

[tmc2209 stepper_y]
uart_pin: PC9
#tx_pin: PC10
#uart_address: 2
run_current: 1.0  # 1.5
#sense_resistor: 0.110
# stealthchop_threshold: 999999
#home_current: 0.7
#diag_pin: PB0
#driver_SGTHRS: 118 #113       # 255 is the most sensitive, 0 is least sensitive.

[tmc2209 stepper_z]
uart_pin: PD0
#tx_pin: PC10
#uart_address: 1
run_current: 0.600
#sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PD1
# uart_address: 0
run_current: 0.600
#sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z2]   # Z2 in place of extruder
uart_pin: PB5
#uart_address: 3
run_current: 0.600
#sense_resistor: 0.110
stealthchop_threshold: 999999

# [tmc2209 extruder]
# uart_pin: PB5
# #tx_pin: PC10
# #uart_address: 3
# run_current: 0.805
# stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PICO:gpio9
tx_pin: PICO:gpio8
uart_address: 1
run_current: 0.805
#sense_resistor: 0.110
#stealthchop_threshold: 999999

#===============================================================================
#                           # Firmware Retraction #      
#===============================================================================

[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.
#z_hop_height: 0.0
#   The vertical height by which the nozzle is lifted from the print to
#   prevent collisions with the print during travel moves when retracted.
#   The minimum value is 0 mm, the default value is 0 mm, which disables
#   zhop moves. The value will be reduced if the zhop move reaches
#   maximum z.
#clear_zhop_on_z_moves: False
#===============================================================================
#                                 # Z Tilt #
#===============================================================================
[z_tilt]
z_positions:
  32.5, 32.5
  202.5, 32.5
  117.5, 236                                #   z_positions:
                                            #    26,32
                                            #    196,32
                                            #    112,236
#  A list of X, Y coordinates (one per line; subsequent lines
#  indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points: 
 36,62
 207,63
 123,201
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 150
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 25
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.03
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

#===============================================================================
#                           # Axis Twist & Skew #
#===============================================================================

[axis_twist_compensation]
speed: 50
horizontal_move_z: 5
calibrate_start_x: 12.6
calibrate_end_x: 203.4
calibrate_y: 132
# calibrate_x: 113
# calibrate_start_y: 26
# calibrate_end_y: 181

[skew_correction]

#===============================================================================
#                    # Heaters, Fans, And MCU ID Config #      
#===============================================================================

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 115

[fan]
pin: PA8

[heater_fan Heatbreak_Fan]
pin: PB15
heater: extruder
heater_temp: 75
# Hotend Fan, Fan1

[temperature_fan Case_Fan]
pin: PB14
sensor_type: temperature_host
control: watermark
max_delta: 4
target_temp: 50
min_temp: 0
max_temp: 100.0

[controller_fan Pico_fan]
pin: PICO:gpio20
stepper: extruder

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_hurakan-if00

[mcu PICO]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434040855871C-if00

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

# [display]
# lcd_type: st7920
# cs_pin: EXP1_7
# sclk_pin: EXP1_6
# sid_pin: EXP1_8
# encoder_pins: ^EXP1_5, ^EXP1_3
# click_pin: ^!EXP1_2

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes/

[pause_resume]

[display_status]
#===============================================================================
#                         # MicroProbe & ABL Config #      
#===============================================================================
## --- BIQU Microprobe Klipper configuration ---
# Not much different from a standard probe config. The
# main difference compared to most probes is to disable
# deactivating the probe (PROBE_UP) after each sample
#
# You can either copy pasta this directly or import
# into your config.yml using [include microprobe.cfg]
#
# Note: if you are changing from a bltouch or one of its
# clones, remove/comment out the [bltouch] config!
# That also includes any auto generated config stored
# at the bottom by the PROBE_CALIBRATE command
#
# Note: the current control and sensor pin values are
# configured for the 'BTT SKR E3 mini V2' controller 
# board. You may need to update these values depending
# on your controller board model.
#
# Update (2023-10-17): This config is configured for
# the V1 microprobe. V2 users must update the 
# polarity of the sensor pin in the config to be 
# pull-down (^!) not pull up (^)

[output_pin probe_enable]
pin: PA7  # Set to the control pin on your board
value: 0

[probe]
pin: ^!PA6   #*sensor pin!!!   # ^!PA6  # NOTE FOR V2 users: Set this to ^!PC14 to set the low level trigger 
deactivate_on_each_sample: False
x_offset: 1      # SUBTRACT ENDING FROM STARTING
y_offset: -29
#z_offset: 0
samples: 2
samples_tolerance: 0.05
samples_tolerance_retries: 5
lift_speed: 10
speed: 10
sample_retract_dist: 1.0
activate_gcode:
    PROBE_DOWN
    G4 P500
deactivate_gcode:
    PROBE_UP

[safe_z_home]
home_xy_position: 25,55  # Nozzle coordinates
speed: 200
z_hop: 3
z_hop_speed: 5

# [homing_override]
# gcode:
#     G1 Z5 F600
#     G28 X
#     G1 X20 F5000
#     G4 P2000
#     G28 Y
#     G1 X25 Y50
#     G28 Z
#     G1 Z5 F600
# axes: x, y, z
# set_position_x: 0
# set_position_y: 0
# set_position_z: 0

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 11,11     #73
mesh_max: 219,172 #220 245
probe_count: 7,7
algorithm: bicubic
fade_start: 2
fade_end: 10
fade_target: 0


#===============================================================================
#                      # Filament Runout Sensor Config #     
#===============================================================================

[filament_motion_sensor Filament_Sensor]
detection_length: 7.0
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
#   The name of the extruder section this sensor is associated with.
#   This parameter must be provided.
switch_pin: PC5
pause_on_runout: True
runout_gcode:
    M118 Filament Runout
    M104 S30
#insert_gcode:
#event_delay:
#pause_delay:
#   See the "filament_switch_sensor" section for a description of the
#   above parameters.


#===============================================================================
#                   # Tempature Sensors & Input Shaper Config #
#===============================================================================

[temperature_sensor CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor MCU_Temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor PICO]
sensor_type: EPCOS 100K B57560G104F      # EPCOS 100K B57560G104F
sensor_pin: PICO:gpio26
min_temp: 0
max_temp: 70

[neopixel Neopixel]
pin: PICO:gpio24
chain_count: 38
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

# [neopixel my_neopixel]
# pin:
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count:
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

[input_shaper]
#shaper_type_x = ei
#shaper_freq_x = 59.8
#shaper_type_y = ei
#shaper_freq_y = 51.8

#[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.755
#*# pid_ki = 1.165
#*# pid_kd = 1043.709
#*#
#*# [probe]
#*# z_offset = 1.160
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 69.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 45.2
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 215.00
#*# pid_tolerance = 0.0020
#*# control = pid
#*# pid_kp = 15.286
#*# pid_ki = 0.428
#*# pid_kd = 136.432
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.047500, 0.077500, -0.030000
#*# compensation_start_x = 12.6
#*# compensation_end_x = 203.4
#*# zy_compensations = 0.022500, 0.027503, -0.050003
#*# compensation_start_y = 26.0
#*# compensation_end_y = 181.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.011662, 0.043350, 0.100038, 0.089076, 0.025025, -0.071527
#*# 	  -0.041848, 0.022340, 0.056527, 0.043066, -0.003486, -0.085037
#*# 	  -0.050854, -0.026666, 0.060021, 0.049060, -0.022492, -0.111543
#*# 	  -0.128931, -0.067243, -0.005555, -0.001517, -0.058068, -0.127120
#*# 	  -0.119520, -0.080332, -0.011145, -0.017106, -0.066158, -0.117709
#*# 	  -0.187597, -0.090909, -0.041721, -0.002683, -0.034234, -0.100786
#*# 	  -0.195673, -0.141486, -0.052298, -0.038260, -0.057311, -0.098863
#*# x_count = 6
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 42.5
#*# max_x = 182.5
#*# min_y = 33.499
#*# max_y = 171.97899999999998
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.0023119099200915936
#*# xz_skew = 0.0
#*# yz_skew = 0.0
